<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fileResourceLoader" class="ru.otus.loaders.impl.BasicFileResourceLoader">
        <constructor-arg name="path" value="/questions.csv"/>
    </bean>

    <bean id="questionsDAO" class="ru.otus.dao.impl.QuestionsDAOCSV">
        <constructor-arg name="resourceLoader" ref="fileResourceLoader"/>
    </bean>

    <bean id="questionsService" class="ru.otus.services.impl.QuestionsServiceImpl">
        <constructor-arg name="questionsDAO" ref="questionsDAO"/>
    </bean>

    <bean id="runner" class="ru.otus.runners.impl.BasicRunner">
        <constructor-arg name="questionsService" ref="questionsService"/>
    </bean>
</beans>